<a [routerLink] = "['/']">
  <h5 style = 'text-align: center'> Return to Main Menu </h5> 
</a>

<div class = 'formStyle'>
<div *ngIf ="unableToSendMessage;"><h1>An unexpected error has occured</h1></div>

<div *ngIf ="!loggedIn;"> 
  <h2> Please input </h2>
  <form #messageForm= "ngForm" (ngSubmit)="sendMessage()" [formGroup]="messageFormNotLoggedIn">
      Barcode: <p></p>
      <div *ngIf="submitted && fnli.barcode.errors?.required" class="redError">**Barcode Required**</div>
      <input  type="text" formControlName="barcode" class="form-control">  
      <p></p>
      Vednor: <p></p>
      <div *ngIf="submitted && fnli.vendor.errors?.required" class="redError">**Vendor Required**</div>
      <input  type="text" formControlName="vendor" class="form-control">
      Item Vendor Number: <p></p>
      <div *ngIf="submitted && fnli.itemVendNo.errors?.required" class="redError">**Item Vendor Number Required**</div>
      <input  type="text" formControlName="itemVendNo" class="form-control">
      
      Quantity: <p></p>
      <div *ngIf="submitted && fnli.quantity.errors?.required" class="redError">**Quantity Required**</div>
      <input  type="text" formControlName="quantity" class="form-control"> 
      Cost: <p></p>
      <div *ngIf="submitted && fnli.cost.errors?.required" class="redError">**Cost Required**</div>
      <input  type="text" formControlName="cost" class="form-control">     
      
      <p></p>
      <button type="submit"> Send Message </button>
  </form>
</div>
</div>