<div class='mobileScale'>
<div class = 'formStyle'>
<div *ngIf ="unableToSendMessage;" ><h1 style= "color: red">Error Detected Not Recorded</h1></div>
<div *ngIf ="messageSent && !unableToSendMessage"><h1>Recorded</h1></div>

<div *ngIf ="!loggedIn;"> 
  <h2> Please input </h2>
  <div style="text-align: right">Singles: {{numofSingles}} / Cases: {{numofCases}}</div>
  <form #thisForm= "ngForm" (ngSubmit)="sendMessage();" [formGroup]="messageFormNotLoggedIn">
      Vendor: <p></p>
      <div *ngIf="submitted && fnli.vendor.errors?.required" class="redError">**Vendor Required**</div>
      <input  type="text" formControlName="vendor" class="form-control" value={{vendorInput}}>
      Invoice Number: <p></p>
      <div *ngIf="submitted && fnli.invoiceNumber.errors?.required" class="redError">**Invoice Number Required**</div>
      <input  type="text" formControlName="invoiceNumber" class="form-control">
      <div style = "text-align: center">
        <div *ngIf="submitted && missingUnitSelection" class ="redError"> **Select Unit Type</div>
        <div *ngIf="!caseSelected" class="styleButton" (click)="selectCase()"> Case</div>
        <div *ngIf="caseSelected" class="selectedButton" (click)="selectCase()"> Case</div>
        <div *ngIf= "!eachSelected" class="styleButton"(click)="selectSingle()"> Each</div>
        <div *ngIf= "eachSelected" class="selectedButton" (click)="selectSingle()"> Each</div>
      </div>
      <br>
      Quantity: <p></p>
      <div *ngIf="submitted && fnli.quantity.errors?.required" class="redError">**Quantity Required**</div>
      <div *ngIf="submitted && fnli.quantity.errors?.pattern" class="redError">**Quantity Must be a number**</div>
      <input  type="text" formControlName="quantity" class="form-control" id="quantity">
      <p></p>
      Vendor Item Number (Optional): <p></p>
      <div *ngIf="submitted && fnli.itemVendNo.errors?.required" class="redError">**Item Vendor Number Required**</div>
      <input  type="text" formControlName="itemVendNo" class="form-control">
      Barcode: <p></p>
      <div *ngIf="submitted && fnli.barcode.errors?.required" class="redError">**Barcode Required**</div>
      <input  type="text" formControlName="barcode" class="form-control">  
      <p></p>
      <button type="submit"> Submit Received </button>
  </form>
  <p></p>
  <p></p>
  <a [routerLink] = "['/']">
    <button > Return to Main Menu </button> 
  </a>
</div>
</div>
</div>
